  <!-- Footer -->
  <footer class="page-footer black darken-4">
      <div class="container">
          <div class="row center">
            <div class="col s12">
                <a itemprop="sameAs" href="https://github.com/CynuxSecurity" title="Github" target=_blank><i class="fab fa-github" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="https://twitter.com/cynuxsecuritylinux" title="Twitter" target=_blank><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="https://www.youtube.com/" title="Youtube" target=_blank><i class="fab fa-youtube" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="" title="discord" target=_blank><i class="fas fa-comments" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="https://cynuxsecurity.org/blog.html" title="Blog" target=_blank><i class="fas fa-newspaper" aria-hidden="true"></i></a>
                <a itemprop="sameAs" href="https://cynuxsecurity.org/rss.xml" title="Rss" target=_blank><i class="fas fa-rss" aria-hidden="true"></i></a>
            </div>
          </div>
      </div>
      <div class="footer-copyright black">
          <div class="container">
            <div class="row center">
              <div class="col s12">
                CynuxSecurity Linux 2020 - {{ site.time | date: '%Y' }}
              </div>
            </div>
          </div>
      </div>
  </footer>
  <!-- End Footer -->
  {% include scripts.html %}
